<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demoReact.javaR.mapper.BoardMapper" >

    <select id="getArticles" resultType="com.demoReact.javaR.domain.MainVO">
        SELECT BBS_NO
        , TITLE
        , CONTENT
        , AUTHOR
        , WROTE_DATE
        FROM BOARD
    </select>

    <insert id="writeArticle" parameterType="com.demoReact.javaR.domain.MainVO">
        INSERT INTO BOARD
            (TITLE,
            CONTENT,
            AUTHOR,
            WROTE_DATE)
        VALUES(
            #{title},
            #{content},
            #{author},
            SYSDATE
            )
    </insert>
</mapper>